# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

client/kubejs/README*

# JourneyMap Exclusions
client/journeymap/icon/theme/flat/
client/journeymap/server/
client/journeymap/colorpalette*
client/journeymap/journeymap.log
client/journeymap/data/